.git
.gitignore
__pycache__
*.py[cod]
*$py.class
*.so
.Python
venv
.venv
env
.env
.env.*
*.log
db.sqlite3
staticfiles
media
*.md
.dockerignore
Dockerfile
docker-compose*.yml
.idea
.vscode
*.sqlite3
